@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.panel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 200px 20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.panel.turquoise {
    background: turquoise;
}

.panel.blue {
    background: blue;
}

.panel.bordeaux {
    background: #7F1734;
}

.panel.green {
    background: green;
}

/* Scroll on reveal effects */
.reveal {
    position: relative;
    opacity: 0;
  }

.reveal.section-active {
    opacity: 1;
}   

.section-active {
    animation: fade-in 1.5s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
    }
}
/* End of reveal on scroll aniamtion */

#first-panel-bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

#first-panel div:first-child, #first-panel div:nth-child(2) {
    width: 50%;
}

#first-panel h1 {
    font-size: 3.5rem;
}

.first-panel-texts {
    text-align: right;
}

#second-panel {
    flex-direction: column;
    gap: 30px;
}

.second-panel-texts {
    width: 80%;
}

.second-panel-texts p {
    font-size: 2rem;
}